.mi-menu{
    font-size: 15px;
}

.dinero{
    margin-top: 80px;
    display: flex;
}

.justificado{
    text-align: justify;
    margin-bottom: 0;
}

.va-t{
    vertical-align: top !important;
}

.w-33{
    width: 33% !important;
}

.w-66{
    width: 66 !important;
}

.w-50px{
    width: 50px;
}

.w-75px{
    width: 75px;
}

.w-100px{
    width: 100px;
}

.w-125px{
    width: 125px;
}

.w-150px{
    width: 150px;
}

.w-175px{
    width: 150px;
}

.w-200px{
    width: 200px;
}

.typed{
    font-size: 24px;
}

.typed-cursor{
    font-size: 24px;
}

.dinero .form-control.form-control-lg
{
    width: 40%;
    margin: auto;
}

.hidden{
    display: none;
}

.footer{
    position: fixed;
}

.add-elemento{
    display: flex;
}

.add-boton{
    margin-left: auto;
    margin-right: 35px;
    margin-bottom: 20px;
    background: white;
}

.top-boton{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: #68b563;
    border-color: #68b563;
    color: white;
    width: 20%;
    height: 3rem;
    padding: 15px;
}
.top-boton:not(:disabled):not(.disabled):active{
    background-color: #155e7c;
    border-color: #155e7c;
}

.top-boton:hover{
    background-color: #155e7c;
    border: 1px solid #155e7c;
    color: #ffffff;
}

.pt-10{
    padding-top:10px
}
.noticias-conten{
    width: 100%;
    height: 100%;
}

.post-list{
    background-color: #fff;
    margin: 35px;
    margin-top: 0px;
    padding: 20px;
    border: 1px #135979 solid;
    overflow: hidden;
}

.post-superior {
    border-bottom: 1px solid #ccc;
}

.post-content {
    position: relative;
    padding-top: 40PX;
}

.post-inferior {
    border-top: 1px solid #ccc;
}

h2.float-left {
    color: #4cbb47;
}

a.link-post-action{
    color: #000;
}

.alert-warning{
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}

.comentarios{
    padding: 8px 25px;
    border-top: 1px solid rgb(238, 238, 238);
    word-wrap: break-word;
    text-align: justify;
}

.com-fec{
    font-size: 0.8em;
    margin-bottom: 0px;
}
.btn-group{
    float: right;
    margin-right: 20px;
}

table.dataTable tbody td{
    text-align: center;
    vertical-align: middle;
}

td.coordenadas{
    white-space: initial;
    /*font-size: 12px; */
    width: 10%;
    overflow-wrap: break-word;
  }

  /*Toast*/

.toast{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

#toast-container {
    display: block;
    position: fixed;
    z-index: 10000
}

@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%
    }

    .btn-success, .btn-warning, .delete, .cancelar{
        width: 100% !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        left: 5%;
        bottom: 7%;
        max-width: 90%
    }
}

@media only screen and (min-width: 993px) {
    #toast-container {
        top: 8%;
        right: 2%;
        max-width: 86%
    }
}

.toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default
}

.toast .toast-action {
    color: #eeff41;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem
}

.toast.rounded {
    border-radius: 24px
}

@media only screen and (max-width: 600px) {
    .toast {
        width: 100%;
        border-radius: 0
    }
}

.mensaje-toast{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/* Switch */

.switch input[type=checkbox] {
    display: none;
}

.switch input[type=checkbox] + label {
    position:relative;
    min-width:calc(calc(2.375rem * .8) * 2);
    border-radius:calc(2.375rem * .8);
    height:calc(2.375rem * .8);
    line-height:calc(2.375rem * .8);
    display:inline-block;
    cursor:pointer;
    outline:none;
    user-select:none;
    vertical-align:middle;
    text-indent:calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input[type=checkbox] + label::before,
.switch input[type=checkbox] + label::after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:calc(calc(2.375rem * .8) * 2);
    bottom:0;
    display:block;
}
.switch input[type=checkbox] + label::before {
right:0;
background-color:#dee2e6;
border-radius:calc(2.375rem * .8);
transition:.2s all;
}
.switch input[type=checkbox] + label::after {
    top:2px;
    left:2px;
    width:calc(calc(2.375rem * .8) - calc(2px * 2));
    height:calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius:50%;
    background-color:#fff;
    transition: all 0.3s ease-in 0s;;
}
.switch input[type=checkbox]:checked + label::before {
    background-color:#08d;
}
.switch input[type=checkbox]:checked + label::after {
    margin-left:calc(2.375rem * .8);
}
.switch input[type=checkbox]:focus + label::before {
    outline:none;
    box-shadow:0 0 0 .2rem rgba(0,136,221,.25);
}
.switch input[type=checkbox]:disabled + label {
    color:#868e96;
    cursor:not-allowed;
}
.switch input[type=checkbox]:disabled + label::before {
    background-color:#e9ecef;
}

.switch.switch-xs {
    font-size:.8rem;
}
.switch.switch-xs input[type=checkbox] + label {
    min-width:calc(calc(1.5375rem * .8) * 2);
    height:calc(1.5375rem * .8);
    line-height:calc(1.5375rem * .8);
    text-indent:calc(calc(calc(1.5375rem * .8) * 2) + .5rem);
}
.switch.switch-xs input[type=checkbox] + label::before {
    width:calc(calc(1.5375rem * .8) * 2);
}
.switch.switch-xs input[type=checkbox] + label::after {
    width:calc(calc(1.5375rem * .8) - calc(2px * 2));
    height:calc(calc(1.5375rem * .8) - calc(2px * 2));
}
.switch.switch-xs input[type=checkbox]:checked + label::after {
    margin-left:calc(1.5375rem * .8);
}

/* Small */
.switch.switch-sm {
    font-size:.875rem;
}
.switch.switch-sm input[type=checkbox] + label {
    min-width:calc(calc(1.9375rem * .8) * 2);
    height:calc(1.9375rem * .8);
    line-height:calc(1.9375rem * .8);
    text-indent:calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input[type=checkbox] + label::before {
    width:calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input[type=checkbox] + label::after {
    width:calc(calc(1.9375rem * .8) - calc(2px * 2));
    height:calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input[type=checkbox]:checked + label::after {
    margin-left:calc(1.9375rem * .8);
}

/* Large */
.switch.switch-lg {
    font-size:1.25rem;
}
.switch.switch-lg input[type=checkbox] + label {
    min-width:calc(calc(3rem * .8) * 2);
    height:calc(3rem * .8);
    line-height:calc(3rem * .8);
    text-indent:calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input[type=checkbox] + label::before {
    width:calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input[type=checkbox] + label::after {
    width:calc(calc(3rem * .8) - calc(2px * 2));
    height:calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input[type=checkbox]:checked + label::after {
    margin-left:calc(3rem * .8);
}

.switch + .switch {
    margin-left:1rem;
}


@media (max-width: 768px)
{
    .container-fluid{
        padding-right: 15px;
        padding-left: 15px;
    }
    .post-list {
        margin: 12px 0 !important;
        border: none;
    }

    .add-boton{
        margin-right: 0;
        margin-bottom: 0;
    }

    .top-boton{
        padding: 4px;
        font-size: 30px;
        width: 18%;
        height: 2.8rem;
    }
    .contenedor-table{
        overflow-x: scroll;
    }
}

/*range de ponderacion*/

input[type=range].ponderacion {
    width: 100%;
    margin: 0.7px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range].ponderacion:focus {
    outline: none;
  }
  input[type=range].ponderacion::-webkit-slider-runnable-track {
    background: #ffffff;
    border: 0;
    width: 100%;
    height: 25.6px;
    cursor: pointer;
  }
  input[type=range].ponderacion::-webkit-slider-thumb {
    margin-top: -0.7px;
    width: 18px;
    height: 27px;
    background: #0075ff;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].ponderacion:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range].ponderacion::-moz-range-track {
    background: #ffffff;
    border: 0;
    width: 100%;
    height: 25.6px;
    cursor: pointer;
  }
  input[type=range].ponderacion::-moz-range-thumb {
    width: 18px;
    height: 27px;
    background: #0075ff;
    border: 0;
    cursor: pointer;
  }
  input[type=range].ponderacion::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 0.7px 0;
    color: transparent;
    width: 100%;
    height: 25.6px;
    cursor: pointer;
  }
  input[type=range].ponderacion::-ms-fill-lower {
    background: #f2f2f2;
    border: 0;
  }
  input[type=range].ponderacion::-ms-fill-upper {
    background: #ffffff;
    border: 0;
  }
  input[type=range].ponderacion::-ms-thumb {
    width: 18px;
    height: 27px;
    background: #0075ff;
    border: 0;
    cursor: pointer;
    margin-top: 0px;
  }
  input[type=range].ponderacion:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range].ponderacion:focus::-ms-fill-upper {
    background: #ffffff;
  }

  @supports (-ms-ime-align:auto) {
    input[type=range].ponderacion {
      margin: 0;
    }
  }