.keys{
    display: flex;
    flex-wrap: wrap;
}

.key{
    background: #223e9c;
    color: #fff;
    padding: 10px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.cerrar{
    position: relative;
    top: -10px;
    right: -26px;
    cursor: pointer;
    
}