.btn-login{
    font-family: 'robotolight, robotoregular, robotobold', sans-serif;
    font-size: 14px;
    color: #454545;
    font-weight: 400;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    padding-left: 5px;
    position: relative;
    margin-right: 40px;
}

.exit{
    cursor: pointer;
}

.pt-0{
    padding-top: 0 !important;
}

.mb-0{
    margin-top: 0 !important;
}
.mt-0{
    margin-bottom: 0 !important;
}

.m-1{
    margin: 1rem !important;
}

.ml-0{
    margin-left: 0 !important;
}

.mr-0{
    margin-right: 0 !important;
}

.w-100{
    width: 100%;
}


@media only screen and (max-width: 767px){
    .btn-login{
        display: none;
    }

    .d-none-movil{
        display: none;
    }

    .exit{
        padding: 9px 10px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .gl-extra-btns-wrapper{
        top: 0 !important;
    }

    .gl-login-btn{
        padding: 9px 10px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}