.hide-movil-asistente{
    display: none;
}
.content-page{
    margin-left: 0 !important;
}
.topbar{
    left: 0 !important;
}

.footer{
    left: 0 !important;
}

/* animaciones */
.animacion-salida{
    animation-name: salida;
    animation-duration: 1s;
}
.animacion-entrada{
    animation-name: entrada;
    animation-duration: .7s;
}

@keyframes entrada {
    from {
        left: 200vw;
    }
    to {
        left: 0;
    }
}
@keyframes salida {
    from {
        left: 0;
    }
    to {
        left: -200vh;
    }
}